<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Spring Thymeleaf</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1>Cadastro de Eventos:</h1>
	<form method="post">
		Nome: <input type="text" value="" name="name" />
		Local: <input type="text" value="" name="location" />
		Data: <input type="text" value="" name="date" />
		Horário: <input type="text" value="" name="time" />

		<button type="submit">Salvar</button>
	</form>


</body>

</html>