<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spring Thymeleaf</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1>Olá Mundo Spring Boot Framework !!!</h1>
	<h2>Lista de Eventos</h2>
	<h3><a href="/registration-events">Cadastrar Evento</h3>
	
	<div th:each="event : ${events}">
		<div class="row">
			<p><span th:text="${event.name}"></span></p>
			<p><span th:text="${event.location}"></span></p>
			<p><span th:text="${event.date}"></span></p>
			<p><span th:text="${event.time}"></span></p>
		</div>
	</div>

</body>

</html>